<div class="row">
    <div class="container">
      <div class="logo">
          <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar">
            <img src="../../../assets/images/APLogo.png" width="150" height="" class="d-inline-block align-top" alt="">
            <p class="h6"># Yo Programo 2022</p>
          </a>
        </div>
        <div class="redes">
          <app-redes></app-redes>  
          <button type="button" class="btn btn-outline-light btn-sm" (click)="login()">Ingresar</button>
      </div>
</div>



