.container {
    background-color:rgb(44,47,51) ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}

p{
    color: white;
}

.logo{
    margin-top: 1em;
    margin-left: 1em;
}

.redes{
    display: flex;
    margin-right: 1em;
}

.btn{
margin-left: 1em;
justify-content: right;
}